.section-autenticacao {
  min-height: 95vh;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  padding: 5rem;
}
.section-autenticacao .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-autenticacao form {
  font-size: 2rem;
  background-color: white;
  padding: 3rem 7rem;
  width: 50rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  font-family: "Lato", serif;
  position: relative;
}
.section-autenticacao form .error {
  font-size: 1.3rem;
  color: red;
}
.section-autenticacao form h2 {
  font-size: 3rem;
  text-align: center;
  color: #40C0F0;
}
.section-autenticacao form div {
  position: relative;
}
.section-autenticacao form .label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  pointer-events: none;
}
.section-autenticacao form .label span {
  font-family: "Lato", serif;
  text-transform: capitalize;
  position: absolute;
  bottom: 31%;
  left: 1.5rem;
  transition: all 0.3s ease;
  transform: translate(1rem, 0);
  background-color: white;
  color: #747474;
}
.section-autenticacao form .form-control {
  border: 1.5px solid #C3DEE7;
  font-size: 2rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  outline: 0;
}
.section-autenticacao form .form-control:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid #FF7829;
}
.section-autenticacao form .form-control:focus + label span {
  transform: translate(0, -100%);
  font-size: 1.6rem;
  color: #FF7829;
}
.section-autenticacao form .form-control:focus + label span, .section-autenticacao form .form-control:valid + label span {
  transform: translate(0, -100%);
  font-size: 1.6rem;
}
.section-autenticacao form .form-control #submit span {
  color: white;
}

#submit span {
  color: white;
}

.section-registo-1 .box-registo {
  height: 30rem;
  background-color: white;
  width: 30rem;
  display: block;
  text-align: center;
  border-radius: 2rem;
  padding: 2rem;
}
.section-registo-1 .box-registo:hover {
  box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}
.section-registo-1 .box-registo h3 {
  font-size: 3rem;
  color: white;
}
.section-registo-1 .box-registo div {
  width: 12rem;
  height: 12rem;
  display: block;
  border-radius: 50%;
  vertical-align: center;
  margin-top: 4rem;
  position: relative;
}
.section-registo-1 .box-registo div i {
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.section-registo-1 .box-registo-1 {
  background-color: #F9B000;
  margin-left: auto;
}
.section-registo-1 .box-registo-1 div {
  background-color: #C68C00;
}
.section-registo-1 .box-registo-2 {
  background-color: #7FBA27;
}
.section-registo-1 .box-registo-2 div {
  background-color: #62901e;
}
