@import "../site-base";



section{
    height: 100vh;
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: center;
    padding: 5rem;

    .box-registo{

    }
}
