@import "../site-base";

.section-dashboard{

    .dropdown{

        ul{
            box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
            border-radius: 5px;
            border: none;

            li:hover{
                background-color: $backgoundColor;
            }
        }
        button{
            background-color: transparent;
            border: none;
        }

        a, button{
            font-size: 1.7rem;
        }

    }
    .heanding-1{
        font-weight: 900;
        color: $cor-principal-1;
        text-align: center;
        font-size: 3rem;
    }

    .btn-new{
        background-color: white;
        color: $cor-letra;
        border-radius: 1rem;
        border-color: transparent;
        padding: 5rem 10rem;
        box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
        font-size: 2.5rem;
        display: block;


        i{
            font-size: 2.5rem;
        }

    }
}

.dashboard{




    .section-disciplinas{

        .box-search{
            position: relative;
            .form-search{
                font-size: 2rem;
                //box-shadow: 0 0 0.5rem rgb(0 0 0 / 5%);
                border: 0px;
                color: $cor-letra-4;
            }

            i{
                position: absolute;
                right: 17px;
                top: 6px;
            }
        }

        .box-text{
            display: flex;

            div{
                margin-left: auto;
                display: flex;

                label{
                    font-size: 1.8rem;
                }

                .form-select{
                    width: 13rem;
                    font-size: 1.4rem;
                    height: 3.2rem;
                    border: 0;
                    border-radius: 0.5rem;
                    option{
                        font-size: 1.4rem;
                    }
                }
            }
            h2{
                color: $cor-principal-1;
                font-size: 2.85rem;
                font-weight: 900;
                margin-right: auto;
            }



        }

        .card-box{
            height: 16rem;
            //box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
            box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
            border-radius: 1rem;
            border: 0;
            padding: 0.2rem;
            display: flex;
            background-color: white;

            .card-image{
                height: 100%;
                background-image: url("/images/disciplinaPng.png");
                background-position: center;
                background-size: cover;
                width: 20rem;
                border-radius: 1rem;
            }

            &-2{
                padding-top: 2rem;

                h2{
                    color: $cor-principal-2;
                    font-size: 2.5rem;
                    font-weight: 700;
                }

                div{
                    display: flex;


                    p{
                        margin-right: 1rem;
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }
            }

            &-3{
                padding-top: 2rem;
                padding-right: 1rem;
                margin-left: auto;

                div:first-child{
                    display: flex;

                    i{
                        font-size: 2.5rem;
                        color: $cor-letra;
                    }


                    i:first-child{
                        margin-left: auto;

                        &:hover{
                            color: $cor-principal-4;
                        }
                    }
                }

                div:nth-child(2){
                   margin-top: 4.5rem;
                }


            }

            .copy-code{
                font-size: 2rem;

            }
            .copy-code[readonly]{
                background-color: white;
            }

            .btn-copy{
                background-color: white;
                border: 1px solid #ced4da;
                border-radius: .25rem;
            }
        }

    }
}



.modal, .forms{

    span{
        color: white;
    }
    .modal-title{
        font-size: 2rem;
        color: $cor-principal-1;

    }

    form{
        font-size: 2rem;
        background-color: white;
        padding: 3rem 7rem;
        border-radius: 2rem;
        font-family: "Lato", serif;
        position: relative;

        .error{
            font-size: 1.3rem;
            color: red;
        }

        h2{
            font-size: 3rem;
            text-align: center;
            color: $cor-principal-2;
        }

        div{
            position: relative;
        }

        .label{
            //position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
           // height: 100%;
            //padding-left: 1rem;
            pointer-events: none;

            span{
                font-family: "Lato", serif;
                text-transform: capitalize;
                //position: absolute;
                bottom: 31%;
                left: 1.5rem;
                transition: all 0.3s ease;
                transform: translate(1rem, 0);
                background-color: white;
                color: $cor-letra;
            }
        }

        .form-control{
            border: 1.5px solid #C3DEE7;
            font-size: 2rem;
            padding-top: 1rem;
            border-radius: 0.5rem;
            outline: 0;

            &:focus {

                outline: none;
                box-shadow: none;
                border: 2px solid $cor-principal-1;
            }

            &:focus + label span, &:valid + label span{
                //transform: translate(0, -100%);
                font-size: 1.6rem;


            }

            &:focus + label span{
                //transform: translate(0, -100%);
                font-size: 1.6rem;
                color: $cor-principal-1;

            }

            #submit span{
                color: white;
            }


        }


    }



}

.card-disciplina{
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    padding: 2rem;
    border: 0;
    border-radius: 1rem;

    .card-image{
        height: 20rem;
        background-image: url("/images/disciplinaPng.png");
        background-position: center;
        background-size: cover;
        width: 25rem;
        border-radius: 1rem;

    }

    .card-inside-disciplina{

        div:first-child{
            display: flex;

            h2{
                color: $cor-principal-2;
                font-size: 2.5rem;
                font-weight: 700;
            }

            i{
                margin-left: auto;
            }
        }

        div{
            p{
                margin-bottom: 0;
                font-size: 1.6rem;
            }
        }
    }

    .section-disciplinas-items{

        .btn-new{
            background-color: white;
            color: $cor-letra;
            border-radius: 1rem;
            border-color: transparent;
            padding: 5rem 10rem;
            box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
            font-size: 2.5rem;
            display: block;


            i{
                font-size: 2.5rem;
            }

        }

        h1{
            color: $cor-principal-1;
            font-size: 2.5rem;
            font-weight: 700;

        }

        .box-search{
            position: relative;
            .form-search{
                font-size: 2rem;
                //box-shadow: 0 0 0.5rem rgb(0 0 0 / 5%);
                border: 0px;
                color: $cor-letra-4;
                background-color: rgba(224, 233, 236, 0.5);
            }

            i{
                position: absolute;
                right: 17px;
                top: 6px;
            }
        }

        .card-box{
            background-color: white;
            color: $cor-letra;
            border-radius: 1rem;
            border-color: transparent;
            padding: 2rem;
            box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
            font-size: 2.5rem;

            &-text{
                display: flex;

                h2{
                    color: $cor-principal-2;
                    font-size: 2.5rem;
                    font-weight: 700;
                }

                button{
                    margin-left: auto;
                }

                &:first-child i {
                    margin-left: auto;
                }
            }

            &-alunos{
                display: flex;

                h2{
                    color: $cor-principal-2;
                    font-size: 2.5rem;
                    font-weight: 700;
                }

                .modal{
                    h6{
                        font-size: 2rem;
                    }

                    .text-secondary{
                        font-size: 1.8rem;
                    }
                }
            }

            .lista-perguntas{
                .card{
                   // box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
                    flex-direction: inherit;
                    padding: 0.5rem;
                    border: none;
                }
            }

            .section-add-pergunta{

                .lista-perguntas{
                    a{
                        //background-color: rgba(224, 233, 236, 0.5);
                        width: 100%;
                        padding: 0.8rem;

                        h3{
                            margin:0;
                        }
                    }
                }

                .modal-adicionar-pergunta{
                    .modal-title{
                        font-size: 2rem;
                        font-weight: 700;
                    }

                    .modal-body{
                        background-image: url('/assets/background.png');
                        background-size: cover;
                        background-position: center;
                    }



                    .form-control{
                        font-size: 3rem;
                        background-color: white;
                        color: $cor-letra;
                        border-radius: 1rem;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        border-color: transparent;
                        padding: 2rem;
                        //box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);

                        &-pergunta{
                            border-radius: 1rem;
                        }
                    }

                    .form-select{
                        font-size: 1.8rem;
                        border: none;
                        border-radius:0.3rem ;
                    }

                    .insertAnsewr{
                        padding: 10px;


                    }
                    .input-group-text{
                        background-color: white;
                        border: none;
                        padding: 2rem;
                        border-bottom-right-radius: 1rem;
                        border-top-right-radius: 1rem;
                        //box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
                    }

                    .center {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                    }
                    .pergunta_input{
                        padding-top: 10px;
                    }
                    .Pergunta_file{
                        display: block;
                        padding: 50px;
                        border-style: dashed;
                    }

                    .label-tf {
                        width: 100%;
                        font-size: 3rem;
                        background-color: white;
                        color: $cor-letra;
                        border-radius: 1rem;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        border-color: transparent;
                        padding: 2rem;
                        cursor: pointer;

                        input{
                            position: absolute;
                            opacity: 0;
                            right: 6rem;
                            border-radius: 50%;
                            height: 5rem;
                            width: 5rem;

                            &:checked ~ span:after{
                                display: block;
                            }

                        }

                        span{
                            position: absolute;
                            right: 6rem;
                            border-radius: 50%;
                            height: 5rem;
                            width: 5rem;
                            border: 2px solid $cor-principal-3;

                            &:after{
                                content: "";
                                position: absolute;
                                display: none;
                                right: 0;
                                left: 0;
                                bottom: 0;
                                width: 4rem;
                                height: 4rem;
                                border-radius: 50%;
                                background: #7FBA27;
                                transform: translate(6%, -6%);
                            }
                        }

                        &:hover input ~ span{
                           // background-color: #f3eded;
                        }
                    }
                }


            }




        }


    }

    .section-quizz{
        .modal-quizz{
            form{
                padding: 0;

                .card-box-topicos{
                   box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
                    padding: 2rem;
                    border-radius: 5px;
                }
            }
        }
    }

}

.fazerTeste{
    background-color: white;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    padding: 2rem;
    border-radius: 5px;

    .counter{
        span{
            font-size: 5rem;
            color: $cor-principal-1;

        }

        .selecao-mul{
            font-size: 2rem;
            span{
                font-size: 2rem;
            }
        }

    }



    .pergunta p{
        font-size: 3.5rem;
    }

    .respostas{

        &-btn{
            background-color: white;
            border: none;
            box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
            padding: 2rem;
            border-radius: 5px;
            width: 100%;
            font-size: 3rem;
            transition: hover 0.2s;
            color: white;

           &-1{
               background-color: $cor-principal-1;

               &:hover{
                   background-color: $cor-principal-1-dark;
               }
           }

            &-2{
                background-color: $cor-principal-2;
                &:hover{
                    background-color: $cor-principal-2-dark;
                }
            }

            &-3{
                background-color: $cor-principal-3;
                &:hover{
                    background-color: $cor-principal-3-dark;
                }
            }

            &-4{
                background-color: $cor-principal-4;
                &:hover{
                    background-color: $cor-principal-4-dark;
                }
            }
        }

    }
}


.card-loading {
    margin: 0;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    .image {
        img {
            max-width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    .content {
        padding: 20px 30px;
    }
}

.card-loading.is-loading {
    .image,
    h2,
    p {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .image {
        height: 200px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    h2 {
        height: 30px;
    }

    p {
        height: 70px;
    }
}


.wrapper{
    height: 115vh;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    color: white;

    #corretoErrado{

    }

    .bi{
        font-size: 5rem;
        font-weight: bold;
        color: white;
    }

    .wrapper-in{
        height: 10rem;
        width: 10rem;
        color: white;
        .wrapper-in-2{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            color: white;
            transform: translate(-50%,-50%);
            span{
                font-size: 4rem;
                color: white;
            }

            i{
                color: white;
            }
        }



    }


}


