@import "../site-base";

.dashboard{
    .heanding-1{
        font-weight: 900;
        color: $cor-principal-1;
        text-align: center;
        font-size: 3rem;
    }

    .btn-new{
        background-color: white;
        color: $cor-letra;
        border-radius: 1rem;
        border-color: transparent;
        padding: 5rem 10rem;
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
        font-size: 2.5rem;
        display: block;


        i{
            font-size: 2.5rem;
        }

    }

    .section-disciplinas{

        .box-search{
            position: relative;
            .form-search{
                font-size: 2rem;
                //box-shadow: 0 0 0.5rem rgb(0 0 0 / 5%);
                border: 0px;
                color: $cor-letra-4;
            }

            i{
                position: absolute;
                right: 17px;
                top: 6px;
            }
        }

        .box-text{
            display: flex;

            div{
                margin-left: auto;
                display: flex;

                label{
                    font-size: 1.8rem;
                }

                .form-select{
                    width: 13rem;
                    font-size: 1.4rem;
                    height: 3.2rem;
                    border: 0;
                    border-radius: 0.5rem;
                    option{
                        font-size: 1.4rem;
                    }
                }
            }
            h2{
                color: $cor-principal-1;
                font-size: 2.85rem;
                font-weight: 900;
                margin-right: auto;
            }



        }

        .card-box{
            height: 16rem;
            box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
            border-radius: 1rem;
            border: 0;
            padding: 0.2rem;
            display: flex;
            background-color: white;

            .card-image{
                height: 100%;
                background-color: black;
                width: 20rem;
                border-radius: 1rem;
            }
        }

    }
}

.modal{
    .modal-title{
        font-size: 2rem;
        color: $cor-principal-1;

    }

    form{
        font-size: 2rem;
        background-color: white;
        padding: 3rem 7rem;
        width: 50rem;
        border-radius: 2rem;
        font-family: "Lato", serif;
        position: relative;

        .error{
            font-size: 1.3rem;
            color: red;
        }

        h2{
            font-size: 3rem;
            text-align: center;
            color: $cor-principal-2;
        }

        div{
            position: relative;
        }

        .label{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 1rem;
            pointer-events: none;

            span{
                font-family: "Lato", serif;
                text-transform: capitalize;
                position: absolute;
                bottom: 31%;
                left: 1.5rem;
                transition: all 0.3s ease;
                transform: translate(1rem, 0);
                background-color: white;
                color: $cor-letra;
            }
        }

        .form-control{
            border: 1.5px solid #C3DEE7;
            font-size: 2rem;
            padding-top: 1rem;
            border-radius: 0.5rem;
            outline: 0;

            &:focus {

                outline: none;
                box-shadow: none;
                border: 2px solid $cor-principal-1;
            }

            &:focus + label span, &:valid + label span{
                transform: translate(0, -100%);
                font-size: 1.6rem;


            }

            &:focus + label span{
                transform: translate(0, -100%);
                font-size: 1.6rem;
                color: $cor-principal-1;

            }

            #submit span{
                color: white;
            }


        }
    }



}
