$cor-principal-1: #FF7829;
$cor-principal-1-light: #ff8d4b;
$cor-principal-2: #40C0F0;
$cor-principal-3: #7FBA27;
$cor-principal-4: #F9B000;
$cor-principal-dark: #ac1515;
$cor-principal-light: #e74040;
$cor-secundaria: #D1D1D1;
$cor-tercearia: #02182F;
$cor-branca: #fff;
$cor-preta: #000;
$cor-letra: #747474;
$cor-letra-2: #2c2525;
$cor-letra-3: #717375;
$backgoundColor: #E0E9EC;
$backgoundColor-2: rgba(0,0,0,.1);
$default-font-size: 1.6rem;
$border-radius: 1rem;
$font-size: 2rem;
