.home-header{
    background-color: #F7F3F0;
    padding: 10rem;
    padding-top: 20rem;
    height: 90vh;
    h1{
        color: $cor-principal-1;
        font-family: Quicksand, serif;
        margin-bottom: 10rem;
        margin-top: 5rem;
        font-weight: bold;
    }
}

.section-home{
    padding: 10rem;
    h1{

        font-family: Quicksand, serif;
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-weight: bold;
        font-size: 5rem;
    }
    p{
        text-align: justify;
        font-size: 2.5rem;
    }


    img{
        width: 30rem;
        height: 30rem;
    }

    &-2{
        background-color: #F2FBFD;
        h1{
            color: $cor-principal-1;
        }

    }

    &-3{
        background-color: white;
        h1{
            color: $cor-principal-2;
        }

    }

    &-4{
        background-color: #F2FBFD;
        h1{
            color: $cor-principal-3;
        }

    }

    &-5{
        background-color: white;
        h1{
            color: $cor-principal-4;
        }

    }
}
